In [78]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from pydataset import data

In [79]:
dataset = data('iris')
dataset.info()
dataset['Species'].describe()
dataset.Species

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

1          setosa
2          setosa
3          setosa
4          setosa
5          setosa
6          setosa
7          setosa
8          setosa
9          setosa
10         setosa
11         setosa
12         setosa
13         setosa
14         setosa
15         setosa
16         setosa
17         setosa
18         setosa
19         setosa
20         setosa
21         setosa
22         setosa
23         setosa
24         setosa
25         setosa
26         setosa
27         setosa
28         setosa
29         setosa
30         setosa
31         setosa
32         setosa
33         setosa
34         setosa
35         setosa
36         setosa
37         setosa
38         setosa
39         setosa
40         setosa
41         setosa
42         setosa
43         setosa
44         setosa
45         setosa
46         setosa
47         setosa
48         setosa
49         setosa
50         setosa
51     versicolor
52     versicolor
53     versicolor
54     versicolor
55     versicolor
56     versicolor
57     versicolor
58     versicolor
59     versicolor
60     versicolor
61     versicolor
62     versicolor
63     versicolor
64     versicolor
65     versicolor
66     versicolor
67     versicolor
68     versicolor
69     versicolor
70     versicolor
71     versicolor
72     versicolor
73     versicolor
74     versicolor
75     versicolor
76     versicolor
77     versicolor
78     versicolor
79     versicolor
80     versicolor
81     versicolor
82     versicolor
83     versicolor
84     versicolor
85     versicolor
86     versicolor
87     versicolor
88     versicolor
89     versicolor
90     versicolor
91     versicolor
92     versicolor
93     versicolor
94     versicolor
95     versicolor
96     versicolor
97     versicolor
98     versicolor
99     versicolor
100    versicolor
101     virginica
102     virginica
103     virginica
104     virginica
105     virginica
106     virginica
107     virginica
108     virginica
109     virginica
110     virginica
111     virginica
112     virginica
113     virginica
114     virginica
115     virginica
116     virginica
117     virginica
118     virginica
119     virginica
120     virginica
121     virginica
122     virginica
123     virginica
124     virginica
125     virginica
126     virginica
127     virginica
128     virginica
129     virginica
130     virginica
131     virginica
132     virginica
133     virginica
134     virginica
135     virginica
136     virginica
137     virginica
138     virginica
139     virginica
140     virginica
141     virginica
142     virginica
143     virginica
144     virginica
145     virginica
146     virginica
147     virginica
148     virginica
149     virginica
150     virginica
Name: Species, dtype: object

In [80]:
target = 'Species'
predictors = list(dataset.columns)
predictors.remove('Species')
X = dataset[predictors]
X.sample(5)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
143           5.8          2.7           5.1          1.9
109           6.7          2.5           5.8          1.8
50            5.0          3.3           1.4          0.2
105           6.5          3.0           5.8          2.2
64            6.1          2.9           4.7          1.4

In [81]:
y = pd.DataFrame(dataset[target])
y = y.rename(columns={0:'Species'})
y['Species'] = y['Species'].map(
    {
        'setosa':0,
        'versicolor':1,
        'virginica':2
    }
)
y.sample(10)

     Species
36         0
53         1
97         1
128        2
116        2
107        2
2          0
149        2
28         0
56         1

In [101]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1234)

In [104]:
model = LogisticRegression().fit(X_train, y_train.values.ravel())
model.score(X_test, y_test)

0.9736842105263158

In [106]:
model.predict(np.array([[5.0,3.0,1.0,0.5]]))

TypeError: 'builtin_function_or_method' object is not subscriptable